language: python
python:
    - "2.7"
env:
    - PGVERSION=9.1 CKANVERSION=master
    - PGVERSION=9.1 CKANVERSION=2.3
install:
    - bash bin/travis-build.bash
script: sh bin/travis-run.sh
after_success: coveralls
sudo: required
