recursive-include    ckanext/pages/textbox        *
recursive-include    ckanext/pages/theme          *
recursive-include    ckanext/pages/assets         *
recursive-include    ckanext/pages/plugin/i18n    *
