recursive-include    ckanext/pages/textbox        *
recursive-include    ckanext/pages/theme          *
recursive-include    ckanext/pages/fanstatic      *
recursive-include    ckanext/pages/i18n           *
