{% extends 'page.html' %}

{% block styles %}
  {{ super() }}
  {% asset 'pages/index-css' %}
{% endblock %}

{% block page_header %}
<header class="module-content page-header">
      <ul class="nav nav-tabs">
        {% block content_primary_nav %}
        <li class="active">
              <a href="{{h.url_for('pages.pages_index')}}">
                  {{ _('Pages') }}
              </a>
          </li>
        {% endblock %}
      </ul>
    </header>
{% endblock %}

{% block secondary_content %}

  <div class="module module-narrow module-shallow">
    <h2 class="module-heading">
      <i class="fa fa-info-circle icon-info-sign"></i>
      {{ _('What are Pages?') }}
    </h2>
    <div class="module-content">
      {% trans %}
        <p>Pages are a simple way to add extra pages to your ckan instance. You can assign an order to them.</p>
      {% endtrans %}
    </div>
  </div>

{% endblock %}
