{% import 'macros/form.html' as form %}
{% import 'macros/wysiwyg.html' as wysiwyg %}

{% set data = data or {} %}
{% set errors = errors or {} %}

{% if type == 'org' %}
  {% set action_url = h.url_for('organization_pages_edit', id=id, page='/' + page) %}
  {% set cancel_url = h.url_for('organization_pages_index', id=id) %}
  {% set slug_prefix = cancel_url ~ '/' %}
  {% set slug_domain = h.url_for('organization_pages_index', id=id, qualified=true) %}
  {% set hide_field_order = true %}
{% elif type == 'group' %}
  {% set action_url = h.url_for('group_pages_edit', id=id, page='/' + page) %}
  {% set cancel_url = h.url_for('group_pages_index', id=id) %}
  {% set slug_prefix = cancel_url ~ '/' %}
  {% set slug_domain = h.url_for('group_pages_index', id=id, qualified=true) %}
  {% set hide_field_order = true %}
{% elif type == 'blog' %}
  {% set action_url = h.url_for('blog_edit', page='/' + page) %}
  {% set cancel_url = h.url_for('blog_index') %}
  {% set slug_prefix = cancel_url ~ '/' %}
  {% set slug_domain = h.url_for('blog_index', qualified=true) %}
  {% if page %}
     {% set delete_url = h.url_for('blog_delete', page='/' + data.name) %}
  {% endif %}
  {% set hide_field_order = true %}
{% else %}
  {% set action_url = h.url_for('pages_edit', page='/' + page) %}
  {% set cancel_url = h.url_for('pages_index') %}
  {% set slug_prefix = cancel_url ~ '/' %}
  {% set slug_domain = h.url_for('pages_index', qualified=true) %}
  {% if page %}
     {% set delete_url = h.url_for('pages_delete', page='/' + data.name) %}
  {% endif %}
  {% set hide_field_order = true %}
{% endif %}

{% set title_image_url = _('Image url') %}
{% set title_lang =  h.lang() %}
{% if type == 'blog' %}
    {% if not page %}
      <h1>{{ _('Add Blog Article') }}</h1>
    {% else %}
      <h1>{{ _('Edit Blog Article') }}</h1>
    {% endif %}
    {% set url_placeholder = 'eg. my-blog-article' %}
    {% set title_placeholder = _('eg. Blog Article Title') %}
{% else %}
    {% if not page %}
      <h1>{{ _('Add page') }}</h1>
    {% else %}
      <h1>{{ _('Edit page') }}</h1>
    {% endif %}
    {% set url_placeholder = 'eg. my-page' %}
    {% set title_placeholder = _('eg. Page Title') %}
{% endif %}


<form class="form-horizontal" method="post" action="{{ action_url }}" data-module="basic-form">

  {{ form.input('title', id='field-title', label=_('Title'), placeholder=title_placeholder, value=data.title, error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}) }}

  {% set domain = slug_domain|replace("http://", "")|replace("https://", "") %}
  {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain~'/', 'data-module-placeholder': '<page>'} %}
  {{ form.prepend('name', id='field-name', label=_('URL'), prepend=slug_prefix, placeholder=_(url_placeholder), value=data.name, error=errors.name, attrs=attrs) }}

  {{ form.input('publish_date', id='field-publish_date', label=_('Publish Date'), value=h.render_datetime(data.publish_date, "%Y-%m-%d")  or h.render_datetime(h.current_date(), "%Y-%m-%d"), error=errors.publish_date, classes=[], attrs={'data-module': 'datepicker', 'data-date-format': 'yyyy-mm-dd'}) }}

  {% block extra_pages_form %}
  {% endblock extra_pages_form %}

  {#{{ form.input('name', id='field-name', label=_('Name'), placeholder=_('my-name'), value=data.name, error=errors.name, classes=['control-full']) }}#}

  <div class="control-group">
    <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
    <div class="controls">
      <select id="field-private" class="form-control" name="private">
        {% for option in [(true, _('Private')), (false, _('Public'))] %}
        <option value="{{ option[0] }}" {% if option[0] == data.private %}selected="selected"{% endif %}>{{ option[1] }}</option>
        {% endfor %}
      </select>
    </div>
  </div>

  {{ form.input('image_url', id='field-image_url', label=_('Image URL'), placeholder=title_image_url, value=data.image_url, error=errors.image_url) }}

  <!--{{ form.input('lang', id='field-lang', label=_('Lang'), placeholder=title_lang, value=data.lang, error=errors.lang) }}-->
    <div class="control-group">
      <label for="field-order" class="control-label">{{ _('Lang') }}</label>
      <div class="controls">
        <select id="field-lang" class="form-control" name="lang">
          {% for option in [('uk', _('Ukrainian')), ('en','English')] %}
            <option value="{{ option[0] }}" {% if option[0] == data.lang %}selected="selected"{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

  {% if not hide_field_order %}
    <div class="control-group">
      <label for="field-order" class="control-label">{{ _('Menu Order') }}</label>
      <div class="controls">
        <select id="field-order" class="form-control" name="order">
            {% for option in [('', _('Not in Menu')), ('1','1'), ('2', '2'), ('3', '3') , ('4', '4')] %}
          <option value="{{ option[0] }}" {% if option[0] == data.order %}selected="selected"{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}

  {% set editor = h.get_wysiwyg_editor() %}
  {% if editor == 'medium' %}
    {{ wysiwyg.editor('content', id='field-content', label=_('Content'), placeholder=_('Enter content here'), value=data.content|safe, error=errors.content) }}
  {% elif editor == 'ckeditor' %}
    {% resource 'ckanext-pages/main' %}
    <div class="control-group">
        <label for="field-content-ck" class="control-label">{{ _('Content') }}</label>
    </div>
    <textarea id="field-content-ck" name="content" placeholder="{{_('My content')}}" data-module="ckedit" style="height:400px" data-module-site_url="{{ h.dump_json(h.url('/', locale='default', qualified=true)) }}"> {{ data.content }}</textarea>
  {% else %}
    {{ form.markdown('content', id='field-content', label=_('Content'), placeholder=_('Enter content here'), value=data.content, error=errors.content) }}
  {% endif %}

  <div class="form-actions">
    {% if not page %}
      <a class="btn pull-left" href="{{ cancel_url }}">{{ _('Cancel') }}</a>
      <button class="btn btn-primary" name="save" value="save" type="submit">{{ _('Add') }}</button>
    {% else %}

      {% block delete_button %}
        {% if h.check_access('ckanext_pages_delete', {'id': data.id})  %}
          {% set locale = h.dump_json({'content': _('Are you sure you want to delete this Page?')}) %}
          <a class="btn btn-danger pull-left" href="{{ delete_url }}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endblock %}

      <button class="btn btn-primary" name="save" value="save" type="submit">{{ _('Save') }}</button>
    {% endif %}
  </div>

</form>
