{% extends 'ckanext_pages/blog_edit_base.html' %} 

{% block page_primary_action %}
  {% if h.check_access('ckanext_pages_update', {}) %}
    {% link_for _('Add Article'), controller='ckanext.pages.controller:PagesController', action='blog_edit', page='', class_='btn btn-primary', icon=h.pages_get_plus_icon() %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  <h1 class="hide-heading">{{ _('Blog') }}</h1>
  {% snippet 'ckanext_pages/snippets/pages_list.html', pages=c.page.items, type='blog' %}
  {{ c.page.pager() }}
{% endblock %}

{% block main_content %}
   <div class="wrapper no-nav">
     {{ self.primary_content() }}
   </div>
{% endblock %}
