{% extends 'page1.html' %}
{% set lang = h.lang() %}
{% import 'macros/form.html' as form %}

{% block title %}{{ _('Events') }}{% endblock %}
{% block breadcrumb_content %}
  <li class="breadcrumb-item">
    <a href="{{ h.url_for('pages.events') }}" aria-label="{{ _('Events') }}">
  <span>{{ _('Events') }}</span>
   </a>
  </li>

{% endblock %}

{% block page_primary_action %}
<section>
  <!-- Page Heading -->
  <h1 class="page-heading" style="font-size: 24px; font-weight: bold; margin-bottom: 1px;">
    {{ _('Events') }}
  </h1>

  {% if h.check_access('ckanext_pages_update', {}) %}
  <a href="/events_edit" class="btn btn-primary">
    <i class="fa fa-plus-square"></i> {{ _('Add Events') }}
  </a>  
  {% endif %}
{% endblock %}

{% block primary_content_inner %}

{% set sorting = sorting if sorting else [
    (_('Title Ascending'), 'Title_en asc'), 
    (_('Title Descending'), 'Title_en desc'), 
    (_('Creation Date Ascending'), 'created asc'), 
    (_('Creation Date Descending'), 'created desc'), 
    (_('Start Date Ascending'), 'start_date asc'), 
    (_('Start Date Descending'), 'start_date desc'),
    (_('End Date Ascending'), 'end_date asc'),
    (_('End Date Descending'), 'end_date desc')
  ] %}


<div class="filters mb-3">
    <style>
        .small-select {
            width: 175px;
            font-size: 12px;
            padding: 7px;
            height: 30px;
            line-height: 1.2;
        }
      </style>
  <form method="get" class="form-inline sorting-section" data-module="select-switch">
    <div class="form-group control-order-by">
      <label for="field-order-by">{{ _('Order by') }}</label>
      <select id="field-order-by" name="sort" class="form-control form-select small-select" onchange="this.form.submit()">
        <option value="title_en asc" {% if request.args.get('sort', 'title_en asc') == 'title_en asc' %} selected {% endif %}>{{ _('Title Ascending') }}</option>
        <option value="title_en desc" {% if request.args.get('sort') == 'title_en desc' %} selected {% endif %}>{{ _('Title Descending') }}</option>
        <option value="created asc" {% if request.args.get('sort') == 'created asc' %} selected {% endif %}>{{ _('Creation Date Ascending') }}</option>
        <option value="created desc" {% if request.args.get('sort') == 'created desc' %} selected {% endif %}>{{ _('Creation Date Descending') }}</option>
        <option value="start_date asc" {% if request.args.get('sort') == 'start_date asc' %} selected {% endif %}>{{ _('Start Date Ascending') }}</option>
        <option value="start_date desc" {% if request.args.get('sort') == 'start_date desc' %} selected {% endif %}>{{ _('Start Date Descending') }}</option>
        <option value="end_date asc" {% if request.args.get('sort') == 'end_date asc' %} selected {% endif %}>{{ _('End Date Ascending') }}</option>
        <option value="end_date desc" {% if request.args.get('sort') == 'end_date desc' %} selected {% endif %}>{{ _('End Date Descending') }}</option>
      </select>
    </div>
  </form>
</div>

<table class="table" style="border-collapse: collapse; width: 100%; background-color: white;">
  <thead>
      <tr>
          <th>Title En</th>
          <th>Date Of Creation</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Url</th>
          <th>Status</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      {% if pages %}
          {% for event in pages %}
              <tr>
                  <td><strong>{{ event.title_en }}</strong></td>
                  <td><strong>{{ h.render_datetime(event.created, date_format='%d/%m/%Y') }}</strong></td>
                  <td><strong>{{ h.render_datetime(event.start_date, date_format='%d/%m/%Y') }}</strong></td>
                  <td><strong>{{ h.render_datetime(event.end_date, date_format='%d/%m/%Y') }}</strong></td>
                  <td><strong>{{ event.name }}</strong></td>
                  <td><strong>{{ event.status }}</strong></td>
                  <td><strong>
                    <!-- Edit Button -->
                    <a href="/events_edit/{{ event.id }}">
                        <img src="/images/edit_icon.png" alt="Edit" style="width: 32px; height: 32px; cursor: pointer;">
                    </a>

                    <!-- Delete Button with Modal Trigger -->
                    <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ event.id }}">
                        <img src="/images/remove_icon.png" alt="Delete">
                    </a>

                    <!-- Delete Confirmation Modal -->
                    <div class="modal fade" id="deleteModal-{{ event.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="deleteModalLabel">{{ _('Please Confirm Action') }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ _('Are you sure you want to delete this event?') }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">{{ _('Cancel') }}</button>
                                    <form action="{{ h.url_for('pages.events_delete', id=event.id) }}" method="post">
                                        {{ h.csrf_input() }}
                                        <button class="btn btn-primary" type="submit" name="confirm">{{ _('Confirm') }}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                  </strong></td>
              </tr>
          {% endfor %}
      {% else %}
          <tr>
              <td colspan="7">No events found.</td>
          </tr>
      {% endif %}
  </tbody>
</table>
{% endblock %}
   <div class="wrapper no-nav">
     {{ self.primary_content() }}
   </div>
