{% extends "base_cms.html" %}
{% set lang = h.lang() %}
{% block title %}{{ _('News') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="breadcrumb-item">
      <a href="{{h.url_for('pages.news')}}" aria-label="{{_('news')}}">
      <span>{{ _('News') }}</span>
      </a>
  </li>
{% endblock %}

{% block page_primary_action %}
<section>
  <!-- Page Heading -->
  <h1 class="page-heading" style="font-size: 24px; font-weight: bold; margin-bottom: 1px;">
    {{ _('News') }}
  </h1>
  {% if h.check_access('ckanext_pages_update', {}) %}

    <a href="/news_edit" class="btn btn-primary">
      <i class="fa fa-plus-square"></i> {{ _('Add News') }}
    </a>
  {% endif %}
{% endblock %}

{% block primary_content_inner %}

{% set sorting = sorting if sorting else [
    (_('Title Ascending'), 'Title_en asc'),
    (_('Title Descending'), 'Title_en desc'),
    (_('Creation Date Ascending'), 'created asc'),
    (_('Creation Date Descending'), 'created desc'),
    (_('News Date Ascending'), 'news_date asc'),
    (_('Publish Date Descending'), 'news_date desc')
  ] %}


<div class="filters mb-3">
  <style>
    .small-select {
        width: 175px;
        font-size: 12px;
        padding: 7px;
        height: 30px;
        line-height: 1.2;
    }
  </style>
<form method="get" class="form-inline sorting-section" data-module="select-switch">
    <div class="form-group control-order-by">
        <label for="field-order-by">{{ _('Order by') }}</label>
        <select id="field-order-by" name="sort" class="form-control form-select small-select" onchange="this.form.submit()">
            <option value="title_en asc" {% if request.args.get('sort', 'title_en asc') == 'title_en asc' %} selected {% endif %}>Title Ascending</option>
            <option value="title_en desc" {% if request.args.get('sort') == 'title_en desc' %} selected {% endif %}>Title Descending</option>
            <option value="created asc" {% if request.args.get('sort') == 'created asc' %} selected {% endif %}>Creation Date Ascending</option>
            <option value="created desc" {% if request.args.get('sort') == 'created desc' %} selected {% endif %}>Creation Date Descending</option>
            <option value="news_date asc" {% if request.args.get('sort') == 'news_date asc' %} selected {% endif %}>Publish Date Ascending</option>
            <option value="news_date desc" {% if request.args.get('sort') == 'news_date desc' %} selected {% endif %}>Publish Date Descending</option>
        </select>
    </div>
</form>
</div>

<table class="table" style="border-collapse: collapse; width: 100%; background-color: white;">
  <thead>
      <tr>
          <th>News Title</th>
          <th>Date Of Creation</th>
        <th>Publish Date</th>
          <th>Page Url</th>
          <th>Status</th>
          <th>Actions</th>
      </tr>
  </thead>
  <tbody>
      {% if pages %}
          {% for item in pages %}


              <tr>
                  <td><strong>{{ item.title_en }}</strong></td>
                  <td><strong>{{ h.render_datetime(item.created, date_format='%d/%m/%Y') }}</strong></td>
                  <td><strong>{{ h.render_datetime(item.news_date, date_format='%d/%m/%Y') }}</strong></td>
                  <td><strong>{{ item.name }}</strong></td>
                  <td><strong>{{item.status}}</strong></td>
                  <td><strong>
                    <a href="#" style="border: none; background: none; padding: 0;" data-id="{{ item.id }}" class="news-visibility-toggler">
                        <img src="{{ '/images/EYE3.png' if item.hidden else '/images/hide_icon.png' }}"
                             alt="{{ _('View') if item.hidden else _('Hide') }}"
                             style="width: 32px; height: 32px; cursor: pointer;">
                    </a>
                    <!-- Edit Button -->
                    <a href="/news_edit/{{ item.id }}">
                      <img src="/images/edit_icon.png" alt="Edit" style="width: 32px; height: 32px; cursor: pointer;">
                  </a>

                  <!-- Delete Button with Modal Trigger -->
                  <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ item.id }}">
                      <img src="/images/remove_icon.png" alt="Delete">
                  </a>
                  <!-- Delete Confirmation Modal -->
                  <div class="modal fade" id="deleteModal-{{ item.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title" id="deleteModalLabel">{{ _('Please Confirm Action') }}</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                {{ _('Are you sure you want to delete this new?') }}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-bs-dismiss="modal">{{ _('Cancel') }}</button>
                                <form action="{{ h.url_for('pages.news_delete', id=item.id) }}" method="post">
                                    {{ h.csrf_input() }}
                                    <button class="btn btn-primary" type="submit" name="confirm">{{ _('Confirm') }}</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
              </strong></td>
          </tr>
          {% endfor %}
      {% else %}
          <tr>
              <td colspan="6">No news found.</td>
          </tr>
      {% endif %}
  </tbody>
</table>

{% endblock %}

   <div class="wrapper no-nav">
     {{ self.primary_content() }}
   </div>

{% block scripts %}
  {{ super() }}
    <script src="/js/news-list.js"></script>
{% endblock %}