{% extends 'organization/read_base.html' %}

{% block subtitle %}{{ _('Pages') }} - {{ g.group_dict.display_name }}{% endblock %}

{% block primary_content_inner %}
    {% if h.check_access('ckanext_org_pages_update', {'id': g.page.id}) %}
      {% if h.ckan_version().split('.')[1] | int >= 9 %}
        {% link_for _('Edit page'), named_route='pages.organization_pages_edit', id=g.group_dict.name, page=g.page.name, class_='btn btn-primary pull-right', icon='plus-square' %}
      {% else %}
        {% link_for _('Edit page'), controller='ckanext.pages.controller:PagesController', action='org_edit', id=g.group_dict.name, page='/' + g.page.name, class_='btn btn-primary pull-right', icon='edit' %}
      {% endif %}
    {% endif %}
  <h1 class="page-heading">{{ g.page.title }}</h1>
  {% if g.page.content %}
    {% set editor = h.pages_get_wysiwyg_editor() %}
    {% if editor %}
      <div>
          {{g.page.content|safe}}
      </div>
    {% else %}
      {{ h.render_content(g.page.content) }}
    {% endif %}
  {% else %}
    <p class="empty">{{ _('This page currently has no content') }}</p>
  {% endif %}
{% endblock %}
