{% extends 'ckanext_pages/edit_base.html' %}

{% block page_primary_action %}
  {% if h.check_access('ckanext_pages_update', {}) %}
    {% if h.ckan_version().split('.')[1] | int >= 9 %}
      {% link_for _('Add page'), named_route='pages.new', page='', class_='btn btn-primary', icon='plus-square' %}
    {% else %}
      {% link_for _('Add page'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='', class_='btn btn-primary', icon='plus-square' %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  {% snippet 'ckanext_pages/snippets/pages_list.html', pages=c.page.items %}
  {{ c.page.pager() }}
{% endblock %}

{% block main_content %}
   <div class="wrapper no-nav">
     {{ self.primary_content() }}
   </div>
{% endblock %}
