{% extends "page.html" %}



{% import 'macros/form.html' as form %}




{% block subtitle %}{{ _('Pages Edit')}} {% endblock %}

{% block primary %}
<h1>EDIT {{ data.title }} </h1>
{% set data = data or {} %}
{% set errors = errors or {} %}
{% set action = form_action or h.url_for('pages_edit', page='/' + page) %}

<form class="dataset-form dataset-resource-form form-horizontal" method="post" action="{{ action }}" data-module="basic-form resource-form">

    {{ form.input('title', id='field-title', label=_('Title'), placeholder=_('eg. Page Title'), value=data.title, error=errors.title, classes=['control-full', 'control-large']) }}

    {{ form.input('name', id='field-name', label=_('Name'), placeholder=_('my-name'), value=data.name, error=errors.name, classes=['control-full']) }}

    <div class="control-group">
      <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
      <div class="controls">
        <select id="field-private" name="private">
          {% for option in [(true, _('Private')), (false, _('Public'))] %}
          <option value="{{ option[0] }}" {% if option[0] == data.private %}selected="selected"{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <div class="control-group">
      <label for="field-order" class="control-label">{{ _('Menu Order') }}</label>
      <div class="controls">
        <select id="field-order" name="order">
          {% for option in [('',''), ('1','1'), ('2', '2'), ('3', '3') , ('4', '4')] %}
          <option value="{{ option[0] }}" {% if option[0] == data.order %}selected="selected"{% endif %}>{{ option[1] }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    {{ form.markdown('content', id='field-content', label=_('Content'), placeholder=_('My content'), value=data.content, error=errors.content) }}

    {% if not page %}
      <button class="btn btn-primary" name="save" value="save" type="submit">{{ _('Add') }}</button>
    {% else %}

      {% block delete_button %}
        {% if h.check_access('ckanext_pages_delete', {'id': data.id})  %}
          {% set locale = h.dump_json({'content': _('Are you sure you want to delete this Page?')}) %}
          <a class="btn btn-danger pull-left" href="{% url_for 'pages_delete', page='/' + data.name %}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>
        {% endif %}
      {% endblock %}

      <button class="btn btn-primary" name="save" value="save" type="submit">{{ _('Save') }}</button>
    {% endif %}

</form>
{% endblock %}

{% block secondary %}{% endblock %}
