{% extends 'ckanext_pages/edit_base.html' %}
{% import 'macros/form.html' as form %}
{% block subtitle %}{{ _('Edit Page') }}{% endblock %}

{% block primary_content_inner %}
<div class="container">
  <h1>Pages</h1>
  <form method="post" action="{{ h.url_for('pages.edit', page=page.name if page and page.name else '') }}" data-module="basic-form" enctype="multipart/form-data">
    {{ h.csrf_input() }}
    {% block errors %}{{ form.errors(error_summary) }}{% endblock %}

    <!-- Title En -->
    {{ form.input('title_en', id='field-title_en', label=_('Title En'), placeholder='Enter title in English', value=data.title_en, error=errors.title_en, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}, is_required=true) }}

    {% set prefix = h.url_for('pages.show', page='') %}
    {% set domain = h.url_for('pages.show', page='', qualified=true) %}
    {% set domain = domain|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<page>'} %}

    {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix, placeholder=_('eg. my-page'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

    <!-- Title Ar -->
    {{ form.input('title_ar', id='field-title_ar', label=_('Title Ar'), placeholder='Enter title in Arabic', value=data.title_ar, error=errors.title_ar) }}

    <!-- Image Upload -->
    {% set is_upload = data.image_url and not data.image_url.startswith('http') %}
    {% set is_url = data.image_url and data.image_url.startswith('http') %}

    {{ form.image_upload(data, errors, is_upload_enabled=h.uploads_enabled(), is_url=is_url, is_upload=is_upload) }}

    <!-- Publish Date -->
    <div class="mb-3">
      <label for="publish_date" class="form-label">Publish Date</label>
      <input type="date" class="form-control form-control-lg" id="publish_date" name="publish_date" value="{{ data.publish_date }}">
    </div>

    <!-- Content Editors -->
    {% set editor = h.pages_get_wysiwyg_editor() %}
    {% if editor == 'ckeditor' %}
      {% asset 'pages/main-js' %}
      {% asset 'pages/main-css' %}

      <!-- Content in English -->
      <div class="control-group">
        <label for="field-content-ck-en" class="control-label">{{ _('Content En') }}</label>
      </div>
      <textarea id="field-content-ck-en" name="content_en" placeholder="{{_('Content En')}}" data-module="ckedit" style="height:400px">{{ data.content_en }}</textarea>

      <!-- Content in Arabic -->
      <div class="control-group">
        <label for="field-content-ck-ar" class="control-label">{{ _('Content Ar') }}</label>
      </div>
      <textarea id="field-content-ck-ar" name="content_ar" placeholder="{{_('Content Ar')}}" data-module="ckedit" style="height:400px">{{ data.content_ar }}</textarea>
    {% else %}
      {{ form.markdown('content', id='field-content', label=_('Content'), placeholder=_('Enter content here'), value=data.content, error=errors.content) }}
    {% endif %}

    <!-- Submit Button -->
    <div class="d-flex justify-content-end mt-4">
      <button type="cancel" class="btn btn-primary btn-lg me-2">Cancel</button>
      <button type="submit" class="btn btn-secondary btn-lg">Save</button>
    </div>
  </form>
</div>
{% endblock %}

{% block main_content %}
   {{ self.flash() }}
   {{ self.toolbar() }}
   <div class="wrapper no-nav">
     {{ self.primary_content() }}
   </div>
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="/vendor/ckeditor/ckeditor.js"></script>
{% endblock %}
