{% extends 'page.html' %}

{% block subtitle %}{{ c.page.title }}{% endblock %}

{% block primary %}
  <section class="module-content">

    {% block ckanext_pages_actions %}
      {% if h.check_access('ckanext_pages_update') %}
          {% asset 'pages/main-css' %}
          {% link_for _('Edit'), named_route='pages.edit', page=c.page.name, class_='btn btn-primary pull-right', icon='edit' %}
          {% link_for _('Revisions'), named_route='pages.pages_revisions', page=c.page.name, class_='btn btn-primary pull-right me-2', icon='eye' %}
      {% endif %}
    {% endblock %}
    <h1 class="page-heading">{{ c.page.title }}</h1>
      {% block ckanext_pages_content %}
        {% if c.page.content %}
          <div class="ckanext-pages-content">
            {% set editor = h.pages_get_wysiwyg_editor() %}
            <!-- editor set to "{{ editor }}"-->
            {% if editor %}
              <div>
                  {{c.page.content|safe}}
              </div>
            {% else %}
              {{ h.render_content(c.page.content) }}
            {% endif %}
          </div>
        {% else %}
          <p class="empty">{{ _('This page currently has no content') }}</p>
        {% endif %}

      {% endblock %}
  </section>
{% endblock %}

{% block secondary %}{% endblock %}
