{% extends 'base_cms.html' %}
{% set lang = h.lang() %}
{% import 'macros/form.html' as form %}
{% block title %}{{ _('Pages') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="breadcrumb-item">
      <a href="{{ h.url_for('pages.pages_index') }}" aria-label="{{ _('Pages') }}">
      <span>{{ _('Pages') }}</span>
      </a>
  </li>
{% endblock %}

{% block page_primary_action %}
<section>

  {% if h.check_access('ckanext_pages_update', {}) %}
  <a href="{{ h.url_for('pages.new') }}" class="btn btn-primary">
    <i class="fa fa-plus-square"></i> {{ _('Add Page') }}
  </a>  
  {% endif %}

  <!-- Page Heading -->
  <h1 class="page-heading mt-4" style="font-size: 24px; font-weight: bold; margin-bottom: 1px;">
    {{ _('Pages') }}
  </h1>
{% endblock %}

{% block primary_content_inner %}

{% set sorting = sorting if sorting else [
    (_('Title Ascending'), 'title_en asc'), 
    (_('Title Descending'), 'title_en desc'), 
    (_('Creation Date Ascending'), 'created asc'), 
    (_('Creation Date Descending'), 'created desc'), 
    (_('Publish Date Ascending'), 'publish_date asc'), 
    (_('Publish Date Descending'), 'publish_date desc')
  ] %}

<div class="filters mb-3">
    <style>
        .small-select {
            width: 175px;
            font-size: 12px;
            padding: 7px;
            height: 30px;
            line-height: 1.2;
        }
      </style>
  <form method="get" class="form-inline sorting-section" data-module="select-switch">
    <div class="form-group control-order-by">
      <label for="field-order-by">{{ _('Order by') }}</label>
      <select id="field-order-by" name="sort" class="form-control form-select small-select" onchange="this.form.submit()">
        <option value="title_en asc" {% if request.args.get('sort', 'title_en asc') == 'title_en asc' %} selected {% endif %}>{{ _('Title Ascending') }}</option>
        <option value="title_en desc" {% if request.args.get('sort') == 'title_en desc' %} selected {% endif %}>{{ _('Title Descending') }}</option>
        <option value="created asc" {% if request.args.get('sort') == 'created asc' %} selected {% endif %}>{{ _('Creation Date Ascending') }}</option>
        <option value="created desc" {% if request.args.get('sort') == 'created desc' %} selected {% endif %}>{{ _('Creation Date Descending') }}</option>
        <option value="publish_date asc" {% if request.args.get('sort') == 'publish_date asc' %} selected {% endif %}>{{ _('Publish Date Ascending') }}</option>
        <option value="publish_date desc" {% if request.args.get('sort') == 'publish_date desc' %} selected {% endif %}>{{ _('Publish Date Descending') }}</option>
      </select>
    </div>
  </form>
</div>

<table class="table" style="border-collapse: collapse; width: 100%; background-color: white;">
  <thead>
      <tr>
          <th>{{ _('Title') }} {{lang | capitalize}}</th>
          <th>{{ _('Date Of Creation') }}</th>
          <th>{{ _('Publish Date') }}</th>
          <th>{{ _('Page Urls') }}</th>
          <th>{{ _('Actions') }}</th>
      </tr>
</thead>
  <tbody>
      {% if pages %}
          {% for page in pages %}
              <tr>
                  <td><strong>
                    {% if lang == 'ar' %}
                      {{ page.title_ar }}
                      {% else %}
                      {{ page.title_en }}
                    {% endif %}
                  </strong></td>
                  <td>{{ h.render_datetime(page.created, date_format='%d/%m/%Y') }}</td>
                  <td>{{ h.render_datetime(page.publish_date, date_format='%d/%m/%Y') }}</td>
                  <td>
                    {{ config['ckan.site_url'] + '/en' +  h.url_for('home_page.pages_detail', id = page.name).replace('/' + lang + '/', '/') }}
                    <br>
                    {{ config['ckan.site_url'] + '/ar' + h.url_for('home_page.pages_detail', id = page.name).replace('/' + lang + '/', '/') }}
                  </td>
                  <td>
                    <a href="{{ h.url_for('pages.edit', page = page.id) }}">
                      <img src="/images/edit_icon.png" alt="{{_('Edit')}}" style="width: 32px; height: 32px; cursor: pointer;">
                    </a>

                    <a href="#" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ page.id }}">
                        <img src="/images/remove_icon.png" alt="Delete">
                    </a>
                      <div class="modal fade" id="deleteModal-{{ page.id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title" id="deleteModalLabel">{{ _('Please Confirm Action') }}</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    {{ _('Are you sure you want to delete this page?') }}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">{{ _('Cancel') }}</button>
                                    <form action="{{ h.url_for('pages.pages_delete', id=page.id) }}" method="post">
                                        {{ h.csrf_input() }}
                                        <button class="btn btn-primary" type="submit" name="confirm">{{ _('Confirm') }}</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                  </td>
              </tr>
          {% endfor %}
      {% else %}
          <tr>
              <td colspan="5">{{ _('No pages found.') }}</td>
          </tr>
      {% endif %}
  </tbody>
</table>

{% endblock %}

   <div class="wrapper no-nav">
     {{ self.primary_content() }}
   </div>


{% block scripts %}
  {{ super() }}
   <script src="/js/pages-list.js"></script>
{% endblock %}