/* ======================================================
   Edits should be made to .less files
   ====================================================== */
.page-list-item .image {
  width: 168px;
  /* hack for default theme */

}
.page-list-item .image a {
  display: block;
  height: 136px;
  background-position: center center;
  background-size: cover;
}
.page-list-item h3 a {
  display: block;
}
