/* ======================================================
   Edits should be made to .less files
   ====================================================== */
.page-list-item .image {
  width: 168px;
  /* hack for default theme */

}
.page-list-item .image a {
  display: block;
  height: 136px;
  background-position: center center;
  background-size: cover;
}
.page-list-item h3 a {
  display: block;
}
.form-control-panel {
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  padding: 19px 20px 20px 0;
}

.form-control-panel button {
  float: right;
}