{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
    <div>
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <form method="post"
                  action=""
                  data-module="basic-form">

                {{ h.csrf_input() }}

                {% if data and data.id %}
                    <input type="hidden" name="id" value="{{ data.id }}">
                {% endif %}

                {% block errors %}{{ form.errors(error_summary) }}{% endblock %}


                {# Title Arabic #}
                {{ form.input('title_ar', id='field-title_ar', label=_('Title Ar'), value=data.title_ar, error=errors.title_ar, classes=['control-full', 'control-large'],  is_required=true) }}


                {# Title English #}
                {{ form.input('title_en', id='field-title_en', label=_('Title En'), value=data.title_en, error=errors.title_en, classes=['control-full', 'control-large'],  is_required=true) }}

                {# Link Arabic #}
                {{ form.input('link_ar',
                        label=_('Link Ar'),
                        id='field-link-ar',
                        value=data.link_ar,
                        error=errors.link_ar,
                        classes=['w-100'],
                         is_required=data.menu_type == 'link' or data.parent_id) }}

                {# Link English #}
                {{ form.input('link_en',
                        label=_('Link En'),
                        id='field-link-en',
                        value=data.link_en,
                        error=errors.link_en,
                        classes=['w-100'],
                        is_required=data.menu_type == 'link' or data.parent_id) }}

                {# Order #}
                <p class="boldfont mt-3">{{ _('Order') }}</p>
                <select name="order" id="orderDropdown" class="form-control">
                    {% for i in range(1, 11) %}
                        <option value="{{ i }}" {% if data.order == i %}selected{% endif %}>{{ i }}</option>
                    {% endfor %}
                </select>

                {# Parent #}
                <p class="boldfont mt-3">{{ _('Parent') }}</p>
                <select name="parent_id" id="parentDropdown" class="form-control">
                    <option value="">{{ "-" }}</option>
                    {% for menu in parent_menus %}
                        <option value="{{ menu.id }}"
                                {% if data.parent_id == menu.id %}selected{% endif %}>{{ menu.title_en }}</option>
                    {% endfor %}
                </select>

                {# Type #}
                <p class="boldfont mt-3">{{ _('Type') }}</p>
                <select name="menu_type" id="typeDropdown" class="form-control">
                    <option value="link" {% if data.menu_type == 'link' %}selected{% endif %}>{{ _('Link') }}</option>
                    <option value="menu" {% if data.menu_type == 'menu' %}selected{% endif %}>{{ _('Menu') }}</option>
                </select>

                <div class="d-flex flex-row mt-3 mb-3 justify-content-end">
                    <button type="button" class="redbtn"
                            onclick="window.location='{{ h.url_for('header_management.index') }}'">
                        {{ _('Cancel') }}
                    </button>
                    <button type="submit" class="graybtn">
                        {{ _('Save') }}
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

