{% extends "base_cms.html" %}
{% set lang = h.lang() %}
{% block title %}{{ _('Header Management') }}{% endblock %}

{% block breadcrumb_content %}
    <li class="breadcrumb-item">
        <a href="{{ h.url_for('header_management.index') }}" aria-label="{{ _('Header Management') }}">
            <span>{{ _('Header Management') }}</span>
        </a>
    </li>
{% endblock %}

{% block page_primary_action %}
    <section>
        <!-- Header Management Heading -->
        <h1 class="page-heading" style="font-size: 24px; font-weight: bold; margin-bottom: 1px;">
            {{ _('Header Management') }}
        </h1>
    </section>
{% endblock %}

{% block primary_content_inner %}
    <div class="tab-pane fade show active">
        {% snippet 'ckanext_pages/header_management/snippets/logo_list.html', logo=logo %}

        {% snippet 'ckanext_pages/header_management/snippets/main_menu_list.html', main_menu=main_menu %}

        {% snippet 'ckanext_pages/header_management/snippets/secondary_menu_list.html', secondary_menu=secondary_menu %}
    </div>
{% endblock %}