{% extends 'editor/edit_base.html' %}

{% block subtitle %}{{ _('Edit Page')}} {% endblock %}
{% block page_header %}{% endblock %}

{% block breadcrumb_content %}
<li>{% link_for _('Pages'), controller='ckanext.pages.controller:PagesController', action='pages_index' %}</li>
  {% if page %}
  <li>{% link_for page.title(), controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page  %}</li>
  <li class="active">{% link_for _('Edit'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='/' + page %}</li>
  {% else %}
  <li class="active">{% link_for _('Add page'), controller='ckanext.pages.controller:PagesController', action='pages_edit', page='' %}</li>
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  {% snippet form_snippet, page=page, data=data, errors=errors %}
{% endblock %}

{% block secondary_content %}
  {% snippet "pages/snippets/helper.html" %}
{% endblock %}

