{% set pages_total = pages|length %}
{% set action = '{0}_show'.format(type) %}

{% set ckan_29_or_higher = h.ckan_version().split('.')[1] | int >= 9 %}

<h1 class="page-heading page-list-header">{{ title or "Blog" if type == "blog" else "Pages" }}</h1>

{% if pages %}
  <div class="page-list">
    {% set editor = h.pages_get_wysiwyg_editor() %}

    {% for page in pages %}

      {% if ckan_29_or_higher %}
        {% if id %} {# this is for orgs and groups #}
          {% set url = h.url_for('pages.{}_pages_show'.format(c.group_dict['type']), id=id, page=page.name) %}
        {% elif type == 'blog' %}
          {% set url = h.url_for('pages.blog_show', page=page.name) %}
        {% else %}
          {% set url = h.url_for('pages.show', page=page.name) %}
        {% endif %}

      {% else %}
        {% if id %} {# this is for orgs and groups #}
          {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
        {% elif type == 'blog' %}
          {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + page.name) %}
        {% else %}
          {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
        {% endif %}

      {% endif %}

      {%- snippet 'ckanext_pages/snippets/page_item.html', url=url, page=page -%}

    {% endfor %}

  </div>
{% else %}
    {% if type == 'blog' %}
      <p class="empty">{{ _('There are currently no blog articles here') }}</p>
    {% else %}
      <p class="empty">{{ _('There are currently no pages here') }}</p>
    {% endif %}
{% endif %}
