{% set pages_total = pages|length %}
{% set action = '{0}_show'.format(type) %}

{% set ckan_29_or_higher = h.ckan_version().split('.')[1] | int >= 9 %}

{#
{% if type == 'blog' %}
  <h2>{{ _('1 blog article') if pages_total == 1 else _('{0} blog articles').format(pages_total) }}</h2>
{% else %}
  <h2>{{ _('1 page') if pages_total == 1 else _('{0} pages').format(pages_total) }}</h2>
{% endif %}
#}

{% if type == 'blog' %}
  <h2>Blog</h2>
{% else %}
 <h2>Pages</h2>
{% endif %}

{% if pages %}
  {% set editor = h.get_wysiwyg_editor() %}
  <div class="container" style="width:100%;">
    {% for page in pages %}
      {% if ckan_29_or_higher %}
        {% if id %} {# this is for orgs and groups #}
          {% set url = h.url_for('pages.{}_pages_show'.format(c.group_dict['type']), id=id, page=page.name) %}
        {% elif type == 'blog' %}
          {% set url = h.url_for('pages.blog_show', page=page.name) %}
        {% else %}
          {% set url = h.url_for('pages.show', page=page.name) %}
        {% endif %}

      {% else %}
        {% if id %} {# this is for orgs and groups #}
          {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action=action, id=id, page='/' + page.name) %}
        {% elif type == 'blog' %}
          {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='blog_show', page='/' + page.name) %}
        {% else %}
          {% set url = h.url_for(controller='ckanext.pages.controller:PagesController', action='pages_show', page='/' + page.name) %}
        {% endif %}

      {% endif %}
      <div class="col-md-4 page-list-item page-card">
      {% if page.image %}
        <div class="span3 image">
          <a style="background-image:url({{ page.image }})" href="{{ url }}">
          </a>
        </div>
        <div class="span8" style="margin-top:1rem;">
           <h3 class="dataset-heading">
              <a href="{{ url }}" class="page-title">{{ page.title }}</a>
              {% if page.publish_date %}
                 <small class="date"> {{ h.render_datetime(page.publish_date) }} </small>
              {% endif %}
            </h3>
            {% if page.content %}
              {% if editor %}
              <div class="page-content">
                {{page.content|striptags|truncate}}
              </div>
              {% else %}
                {{ h.markdown_extract(page.content) }}
              {% endif %}
            {% else %}
              <p class="empty">{{ _('This page currently has no content') }}</p>
            {% endif %}
            <a class="read-more"  href="{{ url }}">Read More</a>
        </div>
      {% else %}
      <div class="span3 image">
          <img class="feed-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRdmmJPKK_ynmtZgkngAz35PeqZueJv1RNIEzUZV6TNZV8ijqLe" alt="No Image Found" style="display: block;height: 136px;background-position: center center;background-size: cover;">
      </div>
          <div class="span11" style="margin-top:1rem;">
          <h3 class="dataset-heading">
            <a href="{{ url }}"  class="page-title">{{ page.title }}</a>
            {% if page.publish_date %}
               <small class="date"> {{ h.render_datetime(page.publish_date) }} </small>
            {% endif %}
          </h3>
          {% if page.content %}
            {% if editor %}
            <div class="page-content">
              {{page.content|striptags|truncate}}
            </div>
            {% else %}
              {{ h.markdown_extract(page.content) }}
            {% endif %}

            
          {% else %}
            <p class="empty">{{ _('This page currently has no content') }}</p>
          {% endif %}
          <a class="read-more"  href="{{ url }}">Read More</a>
        </div>
      {% endif %}
      </div>
    
    {% endfor %}
  </div>
{% else %}
    {% if type == 'blog' %}
      <p class="empty">{{ _('There are currently no blog articles here') }}</p>
    {% else %}
      <p class="empty">{{ _('There are currently no pages here') }}</p>
    {% endif %}
{% endif %}
