[main]
dont_bundle =
    vendor/ckeditor/ckeditor.js

[depends]

main = base/main vendor/ckeditor/ckeditor.js
blog = base/main

[groups]

main =
    vendor/ckeditor/adapters/jquery.js
    vendor/datepicker/js/bootstrap-datepicker.js
    js/ckedit.js
    js/datepicker.js
    vendor/datepicker/css/datepicker.css
    css/ckedit.css

medium = 
    vendor/medium/medium-editor.js
    js/pages-editor.js
    vendor/medium/medium-editor.css
    css/bootstrap.css

blog-css =
    css/blog.css

index-css =
    css/pages.css
