{% extends 'page1.html' %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('header_management.index', _('Header')) }}
  {{ h.build_nav_icon('cms_footer.index_main', _('Footer')) }}
  {{ h.build_nav_icon('pages.main_page', _('Main Page')) }}
  {{ h.build_nav_icon('pages.pages_index', _('Pages')) }}
  {{ h.build_nav_icon('pages.news', _('News')) }}
  {{ h.build_nav_icon('pages.events', _('Events')) }}
  {{ h.build_nav_icon('pages.internal_urls', _('System Pages Urls')) }}
{% endblock %}    
