

.blog-title {
    background-color: #F6F6F6;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 5px 5px 0px 5px;
    margin-top: 10px;
    overflow: hidden;
}

.blog-title small {
    font-size: 12px;
}

.blog-content {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    padding: 5px;
    border-radius: 3px;
    margin-top: -5px;
    overflow: hidden;
}
