[main]
dont_bundle =
    vendor/ckeditor/ckeditor.js

[depends]

main = base/main vendor/ckeditor/ckeditor.js
blog = base/main

[groups]

main =
    vendor/ckeditor/adapters/jquery.js
    vendor/datepicker/js/bootstrap-datepicker.js
    ckedit.js
    datepicker.js
    vendor/datepicker/css/datepicker.css
    ckedit.css

blog =
    blog.css
